absl-py==0.11.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
astroid==2.4.2
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
beautiful-date==2.0.0
beautifulsoup4==4.10.0
bleach==4.1.0
boto3==1.16.8
botocore==1.9.23
branca==0.4.1
cachetools==5.0.0
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.10
click==8.0.1
colorama==0.4.4
cryptography==36.0.1
DateTime==4.4
debugpy==1.5.1
decorator==5.0.9
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.4
dj-database-url==0.5.0
Django==3.2.10
django-allauth==0.48.0
django-appconf==1.0.2
django-cors-headers==3.11.0
django-crispy-forms==1.10.0
django-filter==21.1
django-googlecalendar==3.0.0
django-heroku==0.3.1
django-import-export==2.5.0
django-js-asset==2.0.0
django-mptt==0.13.4
django-passwords==0.3.12
django-rest-auth==0.9.5
django-rest-knox==4.2.0
django-storages==1.10.1
django-templated-mail==1.1.1
django-urlcrypt==0.1.6
django-user==0.2.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
djoser==2.0.5
docopt==0.6.2
docutils==0.14
dynaconf==3.1.7
entrypoints==0.3
et-xmlfile==1.0.1
facebook-sdk==3.1.0
FeinCMS==22.0.1
filelock==3.6.0
folium==0.11.0
future==0.18.2
gcsa==1.3.0
gdata==2.0.18
geocoder==1.38.1
geographiclib==1.50
geopy==2.0.0
google-api-core==2.5.0
google-api-python-client==2.38.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.54.0
gunicorn==20.1.0
httpie==2.2.0
httplib2==0.20.4
hvac==0.11.2
idna==2.10
importlib-metadata==4.3.1
importlib-resources==5.4.0
ipykernel==6.7.0
ipython==7.24.0
ipython-genutils==0.2.0
isort==5.5.2
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.9.3
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyter-server==1.13.4
jupyterlab==3.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
knox==0.1.14
lazy-object-proxy==1.4.3
loguru==0.6.0
lxml==4.8.0
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
num2words==0.5.10
numpy==1.19.2
oauthlib==3.2.0
odfpy==1.4.1
openpyxl==3.0.5
ortools==8.1.8487
packaging==21.3
pandas==1.1.3
pandocfilters==1.5.0
parso==0.8.2
passlib==1.7.4
pickleshare==0.7.5
Pillow==9.0.1
pipreqs==0.4.11
platformdirs==2.5.1
prometheus-client==0.13.1
prompt-toolkit==3.0.18
protobuf==3.14.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.7.4
PyJWT==2.3.0
pylint==2.6.0
pylint-django==2.3.0
pylint-plugin-utils==0.6
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.6
python3-openid==3.2.0
pytz==2018.3
pywin32==303
pywinpty==2.0.1
PyYAML==5.4.1
pyzmq==22.3.0
ratelim==0.1.6
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.1.13
Send2Trash==1.8.0
shortuuid==1.0.8
six==1.11.0
sniffio==1.2.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
soupsieve==2.3.1
sqlparse==0.4.1
static3==0.7.0
tablib==3.0.0
terminado==0.13.1
testpath==0.5.0
toml==0.10.1
tornado==6.1
traitlets==5.0.5
tweepy==4.6.0
twython==3.9.1
typed-ast==1.4.1
typing-extensions==3.10.0.0
tzlocal==2.1
uritemplate==4.1.1
urllib3==1.25.11
validators==0.18.2
virtualenv==20.14.0
voila==0.3.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.1
whitenoise==6.0.0
win32-setctime==1.1.0
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
yarg==0.1.9
zipp==3.4.1
zope.interface==5.4.0
